#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	scanFiles:
		- %currentWorkingDirectory%/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	paths:
		- %currentWorkingDirectory%/src/
		- %currentWorkingDirectory%/limit-orders.php
	ignoreErrors:
		# Apply filters can be called with any number of parameters.
		- '#^Function apply_filters invoked with \d parameters, 2 required#'

		# PHPStan doesn't care for variables being scoped into template includes.
		-
			message: '#Variable \$limiter might not be defined#'
			path: %currentWorkingDirectory%/src/Views/
