#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5

	# Define global constants.
	bootstrapFiles:
		- %currentWorkingDirectory%/tests/phpstan-bootstrap.php
		- %currentWorkingDirectory%/vendor/wpackagist-plugin/woocommerce/vendor/autoload.php

	scanFiles:
		- %currentWorkingDirectory%/vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	paths:
		- %currentWorkingDirectory%/src/
		- %currentWorkingDirectory%/limit-orders.php
	ignoreErrors:
		# PHPStan doesn't care for variables being scoped into template includes.
		-
			message: '#Variable \$limiter might not be defined#'
			path: %currentWorkingDirectory%/src/Views/

		# We're using a function that set's the transient and returns data as an action callback
		-
			message: '#Action callback returns int but should not return anything#'
			path: %currentWorkingDirectory%/src/OrderLimiter.php

		# The reported value could be falsey if the filters relied upon are used incorrectly.
		-
			message: '#Ternary operator condition is always true#'
			path: %currentWorkingDirectory%/src/Settings.php
